<template>
<div class="contact-form-container">
  <p class="form-errors" v-if="formErrors.length">
    <ul>
      <li v-for="formError in formErrors" :key={formError}>{{ $t(formError) }}</li>
    </ul>
  </p>
  <form class="contact-form">
    <div class="name-container">
      <input v-model="form.firstName" type="text"
      :placeholder="$t('contactForm.firstName.placeholder')" />
      <input v-model="form.lastName" type="text"
      :placeholder="$t('contactForm.lastName.placeholder')" />
    </div>
    <textarea
      v-model="form.message"
      :placeholder="$t('contactForm.message.placeholder')"
      rows="15" />
    <button v-on:click="onFormSubmit" type="submit">{{$t('contactForm.submit.text')}}</button>
  </form>
  <w-dialog
    class="contact-dialog"
    v-model="dialog.show"
    :fullscreen="dialog.fullscreen"
    :width="dialog.width"
    :persistent="dialog.persistent"
    :persistent-no-animation="dialog.persistentNoAnimation"
    title-class="primary--bg"
  >
    <template #title>
      <w-icon class="mr2">mdi mdi-tune</w-icon>
      {{$t('contactForm.messageSend.title')}}
    </template>
    <p>{{$t('contactForm.messageSend.paragraph')}}</p>
    <template #actions>
      <div class="spacer" />
      <w-button @click="dialog.show = false">
        {{$t('contactForm.messageSend.closeButton')}}
      </w-button>
    </template>
  </w-dialog>
  <w-notification
    v-model="notification.show"
    :timeout="notification.timeout"
    error
    plain
    round
    shadow
    bottom
    center
  >
    {{$t('contactForm.messageError.text')}}
  </w-notification>
  </div>
</template>

<script>
export default {
  name: 'ContactForm',
  data() {
    return {
      dialog: {
        show: false,
        fullscreen: false,
        persistent: false,
        persistentNoAnimation: false,
        width: 300,
      },
      form: {
        firstName: '',
        lastName: '',
        message: '',
      },
      formErrors: [],
      notification: {
        show: false,
        timeout: 3000,
      },
    };
  },
  methods: {
    onFormSubmit(event) {
      this.formErrors = [];
      event.preventDefault();
      this.validateFormInput();
      if (this.formErrors.length === 0) {
        this.submitData();
      }
    },
    validateFormInput() {
      if (!this.form.firstName && !this.form.lastName) {
        this.formErrors.push('contactForm.formError.name');
      }
      if (!this.form.message) {
        this.formErrors.push('contactForm.formError.message');
      }
    },
    submitData() {
      this.sendEmail();
    },
    resetForm() {
      this.formErrors = [];
      this.form = Object.keys(this.form).map(() => '');
    },
    onSendEmailSuccess() {
      this.dialog.show = true;
      this.resetForm();
    },
    onSendEmailError() {
      this.notification.show = true;
      this.resetForm();
    },
    sendEmail() {
      this.axios
        .post(
          'https://maxneitzel.netlify.app/.netlify/functions/sendMail',
          // eslint-disable-next-line comma-dangle
          this.form
        )
        .then(() => {
          this.onSendEmailSuccess();
        })
        .catch(() => {
          this.onSendEmailError();
        });
    },
  },
};
</script>

<style scoped lang="scss">
.contact-dialog {
  p {
    margin: 1rem;
  }
}
.contact-form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .form-errors {
    background: white;
    padding: 0.5rem;
    margin-bottom: 2rem;
    li {
      color: red;
    }
  }
}
.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 1rem;
  margin-bottom: 2rem;

  .name-container {
    margin-bottom: 1rem;

    input {
      border: 0;
      border-bottom: 1px solid darkgrey;
      outline: none;

      &:first-of-type {
        margin-right: 1rem;
      }

      &:focus,
      &:hover {
        border-bottom: 1px solid var(--color-primary);
      }
    }

    label {
      margin-right: 1rem;
    }

    @media screen and (min-width: 768px) {
      display: flex;
    }
  }

  input,
  textarea {
    margin-bottom: 2rem;
    width: 100%;
    outline: none;
    resize: none;
    overflow: auto;
    font-size: 1rem;
    box-sizing: border-box;
    border: 1px solid darkgrey;
    padding: 0.5rem;
  }

  textarea {
    border-radius: 4px;
    &:focus,
    &:hover {
      border: 1px solid var(--color-primary);
    }
  }

  button {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    font-weight: 800;
    border: 1px solid var(--color-seocndary);
    outline: none;
    transition: background-color 0.5s;
    padding: 1rem;
    cursor: pointer;

    &:hover,
    &:focus {
      border: 1px solid var(--color-secondary);
      background-color: var(--color-primary);
      color: var(--color-secondary);
    }

    @media screen and (min-width: 768px) {
      background-color: var(--color-secondary);
      color: var(--color-primary);
      max-width: 10rem;
      padding: 0.5rem;
    }
  }

  @media screen and (min-width: 768px) {
    max-width: 35rem;
  }
}
</style>
